[user]
	email = arkorty@gmail.com
	name = Arkaprabha Chakraborty
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
[merge]
    conflictstyle = zdiff3
[commit]
	gpgsign = true
